packaging_format = 2

id = "chitchatter"
name = "Chitchatter"
description.en = "Peer-to-peer chat that is serverless, decentralized, and ephemeral"
description.fr = "Chat peer-to-peer sans serveur, décentralisée et éphémère"

version = "2025.12.29~ynh1"

maintainers = []

[upstream]
license = "GPL-2.0"
website = "https://chitchatter.im/"
demo = "https://chitchatter.im/"
code = "https://github.com/jeremyckahn/chitchatter"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "1500M"
ram.build = "2800M"
ram.runtime = "250M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    
    [resources.nodejs]
    version = "22"
